html, body {
  height: 100%;
}
#header {
  height: 74px;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -73px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; 
}
.site-footer {
    background:url('../images/patterns/header/bedge_grunge.png') repeat;
    height:70px;
    border-bottom: 1px solid #c4c4c4;
    -moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
    box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
    position: absolute;
    left:0;
    right:0;
    z-index: 500;
}
.resBtn {
  top: 73px;
}
.chzn-container {
  width: 512px;
}
.ui-datepicker {
  z-index: 1000;
}

.marcas-large {
  width: 80%;
  margin-left: -40%;
}

.contentwrapper .heading{
  height: 42px;
}